.container {
  display: flex;
  justify-content: center;
}

body {
  background-image: url(green.jpg);
 background-size: cover;
 background-position: center;
 width: 100vw;
height: 100vh;
 background-repeat: no-repeat;
 background-color: #f0f0f0;
 /* z-index: -1; */
 /* object-fit: cover; */
 }

 .search {
  width: 80%;
  padding: 12px 24px;
  background-color: transparent;
  color: #575756;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
 }

 button {
  margin-top: 15px;
  border-radius: 12px;

 }